openapi: 3.0.3
info:
  title: "Sistema de Gestión Hotelera - Breaze in the Moon"
  description: |
    Contrato API consolidado consumido por el frontend a través del API Gateway.
    La autenticación se centraliza en el gateway: valida el JWT y propaga la
    identidad a los microservicios mediante headers internos confiables.
  version: "1.1.0"
servers:
  - url: "http://api.breazeinthemoon.com"
    description: "API Gateway (Producción)"
  - url: "http://localhost:8081"
    description: "API Gateway (Desarrollo Local con Docker Compose)"
  - url: "http://localhost:8080"
    description: "API Gateway (Desarrollo Local ejecutado fuera de Docker)"

paths:
  /api/v1/auth/login:
    post:
      tags: [Auth]
      summary: "Iniciar sesión"
      description: "Permite a los usuarios autenticarse y recibir un token JWT con su rol."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: "Autenticación exitosa."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: "Credenciales inválidas."

  /api/v1/auth/register:
    post:
      tags: [Auth]
      summary: "Registrar nuevo cliente"
      description: "Crea una nueva cuenta de cliente."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: "Usuario registrado exitosamente."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'

  /api/v1/auth/register-admin:
    post:
      tags: [Auth]
      summary: "Registrar administrador"
      description: "Crea un usuario con rol ADMIN. Requiere token de administrador."
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: "Administrador registrado exitosamente."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/room:
    get:
      tags: [Rooms]
      summary: "Consultar habitaciones"
      description: |
        Los clientes únicamente pueden consultar habitaciones disponibles.
        Un administrador puede consultar el inventario completo.
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: status
          required: false
          schema:
            type: string
            enum: [DISPONIBLE, OCUPADA, MANTENIMIENTO]
          description: "Filtro opcional por estado."
      responses:
        '200':
          description: "Lista de habitaciones obtenida con éxito."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Room'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Rooms]
      summary: "Registrar una nueva habitación"
      description: "Permite registrar una nueva habitación en el sistema. Requiere rol ADMIN."
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomInput'
      responses:
        '201':
          description: "Habitación registrada exitosamente."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
        '400':
          description: "Datos de entrada inválidos."
        '409':
          description: "Ya existe una habitación con el mismo número identificador."
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/room/{id}:
    get:
      tags: [Rooms]
      summary: "Obtener habitación por ID"
      description: |
        Un cliente solo puede consultar habitaciones disponibles.
        Un administrador puede consultar cualquier habitación.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: "Habitación encontrada."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: "Habitación no encontrada."
    put:
      tags: [Rooms]
      summary: "Actualizar habitación"
      description: "Permite modificar los datos base de una habitación. Requiere rol ADMIN."
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomInput'
      responses:
        '200':
          description: "Habitación actualizada exitosamente."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
        '400':
          description: "Datos de entrada inválidos."
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: "Habitación no encontrada."

  /api/v1/room/{id}/status:
    patch:
      tags: [Rooms]
      summary: "Cambiar estado de la habitación"
      description: "Actualiza únicamente el estado actual de la habitación. Requiere rol ADMIN o llamada interna autorizada."
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomStatusInput'
      responses:
        '200':
          description: "Estado actualizado exitosamente."
        '400':
          description: "Estado inválido."
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: "Habitación no encontrada."

  /api/v1/booking:
    get:
      tags: [Bookings]
      summary: "Listar reservas por estado"
      description: "Obtiene todas las reservas filtradas por estado. Requiere rol ADMIN."
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: estado
          required: true
          schema:
            type: string
            enum: [CREADA, CONFIRMADA, CANCELADA]
      responses:
        '200':
          description: "Lista de reservas."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Booking'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Bookings]
      summary: "Crear una nueva reserva"
      description: "Crea una reserva para la habitación indicada. Disponible para cualquier usuario autenticado."
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingInput'
      responses:
        '201':
          description: "Reserva creada exitosamente."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          description: "Datos de entrada inválidos, fechas incorrectas o habitación no disponible."
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/booking/{id}/confirmar:
    patch:
      tags: [Bookings]
      summary: "Confirmar una reserva"
      description: "Marca la reserva como CONFIRMADA y bloquea la habitación como OCUPADA. Requiere rol ADMIN."
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: "Reserva confirmada."
        '404':
          description: "Reserva no encontrada."
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/booking/cliente/{clienteId}:
    get:
      tags: [Bookings]
      summary: "Ver historial de reservas de un cliente"
      description: |
        Devuelve las reservas del cliente indicado.
        Un cliente solo puede consultar su propio historial.
        Un administrador puede consultar cualquier historial.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: clienteId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: "Historial de reservas."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Booking'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/booking/{id}:
    delete:
      tags: [Bookings]
      summary: "Cancelar una reserva"
      description: |
        Cancela la reserva y libera la habitación.
        Un cliente solo puede cancelar sus propias reservas.
        Un administrador puede cancelar cualquier reserva.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: "Reserva cancelada."
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: "Reserva no encontrada."

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        El API Gateway valida la firma del JWT y rechaza tokens inválidos.
        Si el token es válido, propaga la identidad del usuario a los
        microservicios mediante headers internos confiables.
  responses:
    Unauthorized:
      description: "Token inválido o ausente (gestionado por el API Gateway)."
    Forbidden:
      description: "El usuario autenticado no tiene permisos para esta operación."
  schemas:
    LoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
        password:
          type: string
    RegisterRequest:
      type: object
      required:
        - username
        - password
        - nombre
        - apellido
        - email
      properties:
        username:
          type: string
        password:
          type: string
          minLength: 8
        nombre:
          type: string
        apellido:
          type: string
        email:
          type: string
          format: email
        tipoIdentificacion:
          type: string
          enum: [CC, TI, NIT]
        numeroIdentificacion:
          type: string
        telefono:
          type: string
        fechaNacimiento:
          type: string
          format: date
    AuthResponse:
      type: object
      properties:
        token:
          type: string
        userId:
          type: string
          format: uuid
        username:
          type: string
        nombre:
          type: string
        apellido:
          type: string
        email:
          type: string
          format: email
        rol:
          type: string
          enum: [ADMIN, CLIENT]
        tipoIdentificacion:
          type: string
          enum: [CC, TI, NIT]
        numeroIdentificacion:
          type: string
        telefono:
          type: string
        fechaNacimiento:
          type: string
          format: date
        mensaje:
          type: string
    MessageResponse:
      type: object
      properties:
        message:
          type: string
    Room:
      type: object
      properties:
        id:
          type: string
          format: uuid
        numeroIdentificador:
          type: string
        tipo:
          type: string
          enum: [SENCILLA, DOBLE, SUITE]
        descripcion:
          type: string
        capacidadMaxima:
          type: integer
        precioNoche:
          type: number
          format: double
        estado:
          type: string
          enum: [DISPONIBLE, OCUPADA, MANTENIMIENTO]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    RoomInput:
      type: object
      required:
        - numeroIdentificador
        - tipo
        - descripcion
        - capacidadMaxima
        - precioNoche
      properties:
        numeroIdentificador:
          type: string
        tipo:
          type: string
          enum: [SENCILLA, DOBLE, SUITE]
        descripcion:
          type: string
        capacidadMaxima:
          type: integer
          minimum: 1
        precioNoche:
          type: number
          format: double
    RoomStatusInput:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [DISPONIBLE, OCUPADA, MANTENIMIENTO]
    Booking:
      type: object
      properties:
        id:
          type: string
          format: uuid
        clienteId:
          type: string
          format: uuid
        habitacionId:
          type: string
          format: uuid
        fechaInicio:
          type: string
          format: date
        fechaFin:
          type: string
          format: date
        precioTotal:
          type: number
          format: double
        estado:
          type: string
          enum: [CREADA, CONFIRMADA, CANCELADA]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    BookingInput:
      type: object
      required:
        - habitacionId
        - fechaInicio
        - fechaFin
      properties:
        clienteId:
          type: string
          format: uuid
          description: "Solo usado por ADMIN para crear reservas en nombre de otro cliente."
        habitacionId:
          type: string
          format: uuid
        fechaInicio:
          type: string
          format: date
        fechaFin:
          type: string
          format: date
